<%- include("partials/header") %>
<div class="card p-4 shadow" style="width:350px;">
  <h3 class="text-center">Login</h3>
  <% if(message){ %>
    <p class="text-danger text-center"><%= message %></p>
  <% } %>
  <form method="POST">
    <input name="username" class="form-control mb-2" placeholder="Username" required>
    <input type="password" name="password" class="form-control mb-2" placeholder="Password" required>
    <button class="btn btn-primary w-100">Login</button>
  </form>
  <p class="text-center mt-2">
    <a href="/register">Create account</a>
  </p>
</div>
<%- include("partials/footer") %>